@import "tailwindcss";

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

/* in index.css or App.css */
html, body, #root {
  overflow-x: hidden;
}

@keyframes toastAnim {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  30% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  70% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
}

.animate-toast {
  animation: toastAnim 2s ease-in-out forwards;
}
